---
# Basic packages needed for VM host
prereq_packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg
  - lsb-release
  - sudo
  - vim
  - git
  - htop
  - tmux
  - python3
  - python3-pip
