---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install prerequisite packages
  ansible.builtin.apt:
    name: "{{ prereq_packages }}"
    state: present

- name: Ensure system is up to date
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes
