---
- name: Install systemd-networkd if not present
  ansible.builtin.apt:
    name: systemd
    state: present

- name: Disable networking service (ifupdown)
  ansible.builtin.systemd:
    name: networking
    enabled: no
  notify: reboot system

- name: Remove /etc/network/interfaces.d/* files
  ansible.builtin.file:
    path: /etc/network/interfaces.d/
    state: absent

- name: Recreate /etc/network/interfaces.d/ directory
  ansible.builtin.file:
    path: /etc/network/interfaces.d/
    state: directory
    mode: '0755'

- name: Deploy systemd-networkd configuration files
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "/etc/systemd/network/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - 10-physical.network.j2
    - 20-vlan.netdev.j2
    - 21-vlan.network.j2
    - 30-br0.netdev.j2
    - 31-br0.network.j2
    - 40-br-vlan50.netdev.j2
    - 41-br-vlan50.network.j2
  notify: restart networkd

- name: Enable and start systemd-networkd
  ansible.builtin.systemd:
    name: systemd-networkd
    enabled: yes
    state: started

- name: Enable and start systemd-resolved (for DNS)
  ansible.builtin.systemd:
    name: systemd-resolved
    enabled: yes
    state: started
